body {}

.left {
    grid-area: left;
    margin: 10px;
}

.right {
    grid-area: right;
    margin: 10px;
}

.grid-container {
    display: grid;
    grid-template-areas: 'left right';
    grid-gap: 10px;
    width: 500px;
    margin: 0 auto;
    background-image: linear-gradient(140deg, #EADEDB 20%, blueviolet 100%);
}

#voices {
    width: 70%;
    background-color: transparent;
}

#btnSpeak {
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    background-color: blueviolet;
    color: white;
    border: transparent;
    height: 30px;
    width: 100px;
}